@font-face {
	font-family: 'NimbusSanNovCon-Bol';
	src: url('http://webresources.gu.se/webfonts/2C1499_0_0.eot');
	src: url('http://webresources.gu.se/webfonts/2C1499_0_0.eot?#iefix') format('embedded-opentype'),
	url('https://webresources.gu.se/webfonts/2C1499_0_0.woff') format('woff'),
	url('https://webresources.gu.se/webfonts/2C1499_0_0.ttf') format('truetype'),
	url('https://webresources.gu.se/webfonts/2C1499_0_0.svg') format('svg');	
}

@font-face {
	font-family: 'NimbusSanNovCon-Med';
	src: url('https://webresources.gu.se/webfonts/2C1499_1_0.eot');
	src: url('https://webresources.gu.se/webfonts/2C1499_1_0.eot?#iefix') format('embedded-opentype'),
	url('https://webresources.gu.se/webfonts/2C1499_1_0.woff') format('woff'),
	url('https://webresources.gu.se/webfonts/2C1499_1_0.ttf') format('truetype'),
	url('https://webresources.gu.se/webfonts/2C1499_1_0.svg#wf') format('svg');	
}

@font-face {
	font-family: 'NimbusSanNovCon-SemBol';
	src: url('https://webresources.gu.se/webfonts/2C1499_2_0.eot');
	src: url('https://webresources.gu.se/webfonts/2C1499_2_0.eot?#iefix') format('embedded-opentype'),
	url('https://webresources.gu.se/webfonts/2C1499_2_0.woff') format('woff'),
	url('https://webresources.gu.se/webfonts/2C1499_2_0.ttf') format('truetype'),
	url('https://webresources.gu.se/webfonts/2C1499_2_0.svg#wf') format('svg');
}

body {
  font-size: 16px;
  font-family: 'Open Sans';
  color: #333333;
}

a {
  color: #025DA6;
  text-decoration: underline;
}

.btn.btn-primary {
  background-color: #025DA6;
  border-color: #ccc;
  text-decoration: none;
}
.center {
  text-align: center;
}
hr {
  color: #ccc;
}

hr.page-divider { /* TO VISUALIZE DIFFERENT PAGES */ 
  color: darkcyan;
  height: 10px;
  background-color:darkcyan;
  border: none;  

}

/* HEADER */ 
hr.header-hr {
  margin-bottom: 50px;
}
.logo {
  float: left;
  width: 76px;
  height: 77px;
  background-image: url('../img/gu_logo_sv_high.png');
  background-size: 100%;
}
.en .logo { /* apply class="en" to body to get english logo */ 
  background-image: url('../img/gu_logo_en_high.png');
}
@media (min-width: 768px) { 
  .logo {
    width: 127px;
    height: 129px;
  }
}
.headers {
  display: inline-block;
  float: left;
  max-width: 60%;
  margin-left: 14px;
  margin-top: 21px;
  line-height: 1;
}

@media (min-width: 768px) {
  .headers {
    margin-top: 35px;
  }
}

.headers .level-1 a {
  text-decoration: none;
  color: #000;
  font-family: NimbusSanNovCon-Bol,'Nimbus Sans Novus Cond Bold',Arial;
  font-size: 19px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .headers .level-1 a {
    font-size: 28px;
    line-height: 29px;
  }
}
.headers .level-2 {
  font-family: NimbusSanNovCon-SemBol,"Nimbus Sans Novus Cond SemiBold",Arial;
  line-height: 15px;
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 15px;
}
@media (min-width: 768px) {
  .headers .level-2 {
    font-size: 20px;
  }
}
/* END HEADER */ 


/* MAIN */ 
.main {
  margin-bottom: 50px;
}
.main p.intro {
  margin-bottom: 50px;
}
.error-icon {
  text-align: center;
  margin-bottom: 20px;
}
.error-icon .fas {
  color: #D9534F;
  font-size: 100px;
}
.warning-icon {
  text-align: center;
  margin-bottom: 20px;
}
.warning-icon .fas {
  color: #f0ad4e;
  font-size: 100px;
}
.success-icon {
  text-align: center;
  margin-bottom: 20px;
}
.success-icon .fas {
  color: #5cb85c;
  font-size: 100px;
}
.payments-table .payments-table-header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.payments-table .payments-table-content-row hr {
  margin-bottom: 20px;
}
.payments-table .payments-table-content-row .payments-table-content-row-label {
  font-weight: 700;
}
.payments-table .payments-table-content-row .payments-table-content-row-sum .payments-table-content-row-sum-amount {
  font-weight: 700;
  font-size: 20px;
  text-align: right;
}
.payments-table .payments-table-content-row .payments-table-content-row-sum  .payments-table-content-row-sum-taxes {
  text-align: right;
}

.payment-made-info {
  margin-top: 20px;
}

 #dibs-complete-checkout .col-12 {
  border: 1px dotted #ccc;
 }

@media (max-width: 575.98px) { 
  /* REMOVE PADDING ON MOBILE FOR DIBS FORM */ 
  #dibs-complete-checkout.container.no-margin-on-xs {
    padding-right: 0;
    padding-left: 0;
  }
}
/* END MAIN */ 


/* FOOTER */ 
footer {
 background-color: #1f1f1f;
 color: #f2f2f2;
 padding: 40px 0 40px 0;
 margin-top: 70px;
}
.footer-header {
  font-weight: bold;
  color: #fff;
}
/* END FOOTER */


/* FONT */ 
h1 {
	font-family: 'NimbusSanNovCon-SemBol', Arial Narrow, Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size: 2em; 
	font-weight: normal;
  line-height: 1.1em;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125em;
  }
}

@media (min-width: 992px) {
  h1 {
		font-size: 3em;
		line-height: 1.05em;
	}
}


/* END FONT */








/* DEBUG */
.debug {
  background-color: #f0f195;
  font-size: 10px;
}
.debug .xs , .debug .small, .debug .medium, .debug .large, .debug .x-large {
  display: none;
  font-size: 10px;
}
@media (max-width: 575.98px) { 
  .debug .xs {
    display: inline-block;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) { 
  .debug .small { 
    display: inline-block;
  }

}
@media (min-width: 768px) and (max-width: 991.98px) {
  .debug .medium {
    display: inline-block;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .debug .large {
    display: inline-block;
  }
}
@media (min-width: 1200px) { 
  .debug .x-large {
    display: inline-block;
  }
}
/* END DEBUG */ 
